<!DOCTYPE html>
<html>
  <head>
    <title>Choose UC</title>
    
  </head>
  <body>
    <h1 style="font-size : 40px; text-align: center;">Choose UC</h1>
    <p style="font-size : 30px; text-align: center;">Click a botton to proceed with the selected UC</p>
  </body>
  
   <div style="align-items: center; align-content: center;";>
    

    <input style="background-color:greenyellow;width:10cm;height:8cm;font-size : 40px;" type="button" onclick="location.href='/states/state-machine';" value="UC-A" />
    <input style="background-color:rgb(255, 47, 227);width:10cm;height:8cm;font-size : 40px;" type="button" onclick="location.href='/tasks/tasks-state';" value="UC-B"/>
    <input style="background-color:rgb(47, 144, 255);width:10cm;height:8cm;font-size : 40px;" type="button" onclick="location.href='/stub_ucc/stub_ucc-tasks';" value="UC-C" />
   
  </div>
  <link rel="stylesheet" href="popupS.css">
<script src="popupS.js"></script>

</html>
